In [320]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [321]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [322]:
import math

#cleaning data, preparing data
median_bedrooms = math.floor(df.bedrooms.median()) # best solution to fill NaN is to find median of all values
median_bedrooms

4

In [323]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms) # fill NaN cells

In [390]:
reg = LinearRegression()

X = df.drop(columns='price')
y = df['price']
reg.fit(X, y)

predictions = reg.predict([[3000, 3, 40], [2500, 4, 5]])
[math.floor(predictions[0]),
math.floor(predictions[1])]

[498408, 578876]